page-report {
  .container {
    height: 33.33%;
  }
  .hidden {
    display: none;
  }
  .main-bg {
    background-color: #eceff1; //color($colors, light);
  }
  .reportDescription {
    white-space: pre-wrap;
  }
  .opinion {
    color: color($colors, 'secondary');
    font-size: 110%;
  }
}
