<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      Bienvenue dans CityZen
    </div>
  </div>
  <div padding>
    <div *ngIf="showSignup">
      <signup></signup>
    </div>
    <div *ngIf="showLogin">
      <login></login>
    </div>
    <button *ngIf="!showSignup && !showLogin" ion-button block (click)="signup()">Inscription</button>
    <button *ngIf="showLogin" ion-button block (click)="signup()" class="login">Inscription</button>
    <button *ngIf="!showLogin" ion-button block (click)="login()" class="login">Connexion</button>
  </div>
</ion-content>
