<!-- Generated template for the LoginComponent component -->
<form [formGroup]="credentials" (submit)="doLogin()">
  <ion-list>
    <ion-item>
      <h1>Connexion</h1>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <form-message [control]="credentials.controls.email"></form-message>
    <ion-item>
      <button ion-button clear color="dark" type="button" large item-right (click)="togglePassword()" *ngIf="showPassword && credentials.value.password" class="btnPassword"> <ion-icon name="eye"> </ion-icon> </button>
      <button ion-button clear color="dark" type="button" large item-right (click)="togglePassword()" *ngIf="!showPassword && credentials.value.password" class="btnPassword"> <ion-icon name="eye-off"> </ion-icon> </button>
      <ion-label floating>Mot de passe</ion-label>
      <ion-input #inputPasswordLogin type="password" formControlName="password" clearOnEdit="false" ></ion-input>

    </ion-item>
    <div padding>
      <button ion-button color="primary" block [disabled]="!credentials.valid">Connexion</button>
    </div>

  </ion-list>
</form>
